//
   Created by 张云山 on 2017/2/16.
extends htmls
block htmls
    +htmls({
        link:[
            {name:"public.css",href:"../css/public.css"}
        ],
        script:[
            {name:"test",src:"../js/test.js"}
        ]
    })
block bodys
    div.iconfont.col-xs-12 sdfsdfsdf&#xe63f;&#xe63b;
    div.iconfont.col-xs-12 sdfsdfsdf&#xe63f;&#xe63b;
    div.iconfont.col-xs-12 sdfsdfsdf&#xe63f;&#xe63b;
        i sdfsdf
        span. 的所发生的水电费水电费胜多负少的发的SDFSD大范甘迪是的发送到是的发送到水电费收到
